/* Nav phone icon pulse */
.pulse_phone::before {
  content: "";
  position: absolute;
  border: 2px solid #3d64ff;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}

.services_icons_block .pulse_phone::before {
  animation: pulse_block 2s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes pulse_block {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

/* Bkick animation */
.flare-button:after {
  content: "";
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  animation: movingFlare 3s ease-in-out 0.05s infinite;
}

@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.temp_left_bot img {
  transition: all 1s ease;
}

.temp_left_bot img:hover {
  transition: all 1s ease;
  transform: scale(1.1);
}
.car_left_arrow .pulse_phone,
.car_right_arrow .pulse_phone,
.comand_simple_item .pulse_phone {
  transition: all 0.5s ease;
}
.car_left_arrow .pulse_phone:hover,
.car_right_arrow .pulse_phone:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.com_car_block .pulse_phone {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.comand_boss_item .pulse_phone {
  width: 176px;
  height: 176px;
}
.comand_boss_item .pulse_phone::before {
  animation: pulse_block 2s linear infinite;
}
.com_car_block .pulse_phone::before {
  animation: pulse_block 2s linear infinite;
}
.com_car_block .pulse_phone::before {
  border: 1px solid #bcb6b6;
}
@keyframes pulse_block {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.comand_carousel img,
.costs_carousel img {
  transition: all 1s ease;
}
.comand_carousel img:hover,
.costs_carousel img:hover {
  transform: scale(1.08);
  transition: all 1s ease;
}
.costs_carousel_item {
  overflow: hidden;
}

.nav_wrapper  p {
 transition: all 1s ease;
}
.nav_wrapper  p:hover {
  transition: all 1s ease;
  text-decoration: underline;
 }