* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: rfdewi300;
}
.header_wrapper {
  background: url(../assets/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}
nav {
  width: 100%;
}
.main_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.nav_wrapper {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_left_block,
.nav_phone {
  display: flex;
  align-items: center;
}
.nav_logo {
  margin-right: 25px;
}

.nav_links {
  display: flex;
  align-items: center;
}
.nav_links a {
  text-decoration: none;
  margin: 0 28px;
}
.nav_links a p {
  font-style: normal;
  font-size: 17px;
  line-height: 19px;
  color: #ffffff;
  font-family: rfdewi700;
}
.pulse_phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #008a91;
  width: 47px;
  height: 47px;
}
.pulse_phone img {
  background: transparent;
}
.nav_phone a {
  text-decoration: none;
}
.nav_phone .nav_phone_number {
  margin-right: 46px;
}
.nav_phone a p {
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  font-family: rfdewi700;
}
.header_blue_line {
  width: 165px;
  height: 3px;
  margin-bottom: 36px;
  background: #008a91;
}

.header_block {
  margin-top: 120px;
}
.heder_title h2 {
  font-size: 48px;
  line-height: 48px;
  font-family: bebasNeue;
  color: #ffffff;
}
.heder_title h2 span {
  font-weight: 300;
  font-family: bebasNeue300;
}
.header_text {
  margin-top: 20px;
  margin-bottom: 25px;
}

.header_text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #ffffff;
}

.flare-button {
  width: 298px;
  height: 59px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-family: rfdewi700;
  background: #008a91;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
}
.header_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_card {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(12, 214, 224, 0.2);
  backdrop-filter: blur(10.5px);
  border-radius: 6px;
  width: 285px;
  height: 120px;
}
.counter_block {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90px;
}
.counter_block .counter__item {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  font-family: bebasNeue;
}
.counter_item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-family: rfdewi700;
}

.card_text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  font-family: rfdewi300;
  color: #ffffff;
  padding-left: 5px;
}

.our_services {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.block_title h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-family: bebasNeue;
}

.block_title {
  display: flex;
  align-items: center;
}
.block_title div {
  margin-bottom: 0;
  margin-left: 17px;
}

.our_services .block_title {
  margin-bottom: 24px;
}
.our_services_car_item {
  width: 592px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0efef;
  border-radius: 7px;
  padding: 0 24px;
  margin-right: 20px;
}

.our_services_car_item img {
  margin-right: 22px;
}
.our_services_car_item h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #000000;
  margin-bottom: 16px;
}
.our_services_car_item p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  font-family: rfdewi300;
  color: #000000;
}

.our_services_carousel {
  overflow: hidden;
  position: relative;
}
.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #fff;
  background: #008a9154;
  border: none;
  cursor: pointer;
  margin: 0 7px;
}
.slick-dots .slick-active {
  background: #008a91;
  border: 1px solid #008a91;
  box-shadow: 0px 0px 17px rgba(12, 214, 224, 0.2);
}

.slick-dots button {
  display: none;
}
.services_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services_icons_block {
  width: 285px;
  height: 115px;
  margin-top: 95px;
  background: rgba(0, 138, 145, 0.2);
  border: 2px solid #008a91;
  border-radius: 7px;
  padding: 0 20px 13px 20px;
}
.services_icons_block p {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-family: rfdewi300;
}
.services_icons_block .pulse_phone {
  width: 93px;
  height: 93px;
  margin: 0 auto;
  margin-top: -45px;
  margin-bottom: 14px;
}
.block_template {
  display: flex;
}
.block_template .header_blue_line {
  width: 86px;
}
.temp_left {
  width: 694px;
}
.block_template_1 {
  margin-top: 110px;
  margin-bottom: 175px;
}
.block_template_1 .temp_left {
  margin-right: 20px;
}
.temp_left_bot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
}
.temp_left_bot img {
  margin: 0 10px;
}
.temp_text p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi300;
  color: #000000;
  margin-top: 18px;
  margin-bottom: 22px;
}
.temp_button button {
  width: 285px;
  height: 59px;
  border: none;
  background: #008a91;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #ffffff;
}
.temp_button {
  position: relative;
  width: 285px;
  height: 59px;
}
.temp_btn_an {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #94dbe4;
  position: absolute;
  right: -24px;
  bottom: -23px;
  z-index: -1;
}

.block_template_2 .templ_right {
  margin-right: 20px;
}
.reviews_block {
  margin-top: 185px;
}
