* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
body {
  font-family: rfdewi300;
}
.header_wrapper {
  background: url(../assets/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}
.page_title_template {
  padding-top: 100px;
  padding-bottom: 45px;
}

.pulse_phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #008a91;
  width: 47px;
  height: 47px;
}
.pulse_phone img {
  background: transparent;
}

.header_blue_line {
  width: 165px;
  height: 3px;
  margin-bottom: 36px;
  background: #008a91;
}

.header_block {
  margin-top: 120px !important;
}
.heder_title h2 {
  font-size: 48px;
  line-height: 48px;
  font-family: bebasNeue;
  color: #ffffff;
}
.heder_title h2 span {
  font-weight: 300;
  font-family: bebasNeue300;
}
.header_text {
  margin-top: 20px;
  margin-bottom: 25px;
}


.header_text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #ffffff;
}

.flare-button {
  width: 298px;
  height: 59px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-family: rfdewi700;
  background: #008a91;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
}
.header_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_card {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(12, 214, 224, 0.2);
  backdrop-filter: blur(10.5px);
  border-radius: 6px;
  width: 285px;
  height: 120px;
}
.counter_block {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90px;
}
.counter_block .counter__item {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  font-family: bebasNeue;
}
.counter_item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-family: rfdewi700;
}

.card_text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  font-family: rfdewi300;
  color: #ffffff;
  padding-left: 5px;
}

.our_services {
  margin-top: 60px !important;
  padding-top: 20px;
  padding-bottom: 15px;
}

.block_title h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-family: bebasNeue;
}

.block_title {
  display: flex;
  align-items: center;
}
.block_title div {
  margin-bottom: 0;
  margin-left: 17px;
}

.our_services .block_title {
  margin-bottom: 24px;
}
.our_services_car_item {
  width: 592px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0efef;
  border-radius: 7px;
  padding: 0 24px;
  margin-right: 20px;
}
.hided_element {
  display: none;
  
}

.our_services_car_item img {
  margin-right: 22px;
}
.our_services_car_item h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #000000;
  margin-bottom: 16px;
}
.our_services_car_item p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  font-family: rfdewi300;
  color: #000000;
}

.our_services_carousel {
  overflow: hidden;
  position: relative;
}
.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #fff;
  background: #008a9154;
  border: none;
  cursor: pointer;
  margin: 0 7px;
}
.slick-dots .slick-active {
  background: #008a91;
  border: 1px solid #008a91;
  box-shadow: 0px 0px 17px rgba(12, 214, 224, 0.2);
}

.slick-dots button {
  display: none;
}
.services_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services_icons_block {
  width: 285px;
  height: 115px;
  margin-top: 95px;
  background: rgba(0, 138, 145, 0.2);
  border: 2px solid #008a91;
  border-radius: 7px;
  padding: 0 20px 13px 20px;
}
.services_icons_block p {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-family: rfdewi300;
}
.services_icons_block .pulse_phone {
  width: 93px;
  height: 93px;
  margin: 0 auto;
  margin-top: -45px;
  margin-bottom: 14px;
}
.block_template {
  display: flex;
}
.block_template .header_blue_line {
  width: 86px;
}
.temp_left {
  width: 694px;
}
.block_template_1 {
  padding-top: 110px;
  padding-bottom: 175px;
}
.block_template_1 .temp_left {
  margin-right: 20px;
}
.temp_left_bot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
}
.temp_left_bot img {
  margin: 0 10px;
}
.temp_text p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi300;
  color: #000000;
  margin-top: 18px;
  margin-bottom: 22px;
}
.temp_button button {
  width: 285px;
  height: 59px;
  border: none;
  background: #008a91;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #ffffff;
}
.temp_button {
  position: relative;
  width: 285px;
  height: 59px;
}
.temp_btn_an {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #94dbe4;
  position: absolute;
  right: -24px;
  bottom: -23px;
  z-index: -1;
}

.block_template_2 .templ_right {
  margin-right: 20px;
}
.reviews_block {
  padding-top: 185px;
}
.reviews_carousel {
  margin-top: 40px;
  display: flex;
  position: relative;
}
.reviews_carousel_item {
  width: 590px;
  height: 355px;
  padding: 34px 22px;
  background: #d9d9d9;
  display: flex;
}

.rev_img {
  position: relative;
}
.rev_img div {
  width: 1px;
  height: 281px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: -10px;
}
.rev_car_left_text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8px;
}
.rev_car_left_text p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #000000;
}
.rev_car_right {
  margin-left: 22px;
}
.rev_car_right h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #000000;
  margin-bottom: 11px;
}
.rev_car_right p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi300;
  color: #000000;
  margin-bottom: 22px;
}
.rev_car_right button {
  width: 230px;
  height: 59px;
  border: none;
  cursor: pointer;
  background: #008a91;
  border-radius: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-family: rfdewi700;
  color: #ffffff;
}

.reviews_carousel_wrapper {
  position: relative;
}
.car_left_arrow {
  position: absolute;
  left: -25px;
  top: 39%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 111;
}
.car_right_arrow {
  position: absolute;
  right: -14px;
  top: 39%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 111;
}
.block_template_3 {
  padding-top: 180px;
}

.block_template_3 {
  position: relative;
  display: flex;
  align-items: center;
}
.block_template_3 .temp_left {
  position: absolute;
  right: -7%;
}
.block_template_3 .templ_right {
  width: 433px;
}
.block_template_3 .block_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.block_template_3 .block_title h3 {
  text-align: left;
}
.block_template_3 .block_title div {
  margin-left: 0;
  display: flex;
  align-items: center;
}
.block_template_3 .block_title div .header_blue_line {
  margin-left: 15px;
}
.block_template_3 {
  padding-bottom: 120px;
}

.command_block {
  padding-top: 100px;
  padding-bottom: 60px;
}
.command_block .block_title {
  margin-bottom: 120px;
}

.partners_block {
  padding-top: 80px;
  padding-bottom: 60px;
}
.partners_block .block_title {
  margin-bottom: 100px;
}
.partners_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block_template_4 {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.block_template_4 .temp_left {
  position: absolute;
  right: -3.4%;
}
.block_template_4 .templ_right {
  width: 463px;
}
.block_template_5 {
  padding-top: 60px;
  padding-bottom: 100px;
}
.block_template_5 .temp_left {
  margin-right: 20px;
  width: auto;
}
.block_template_5 .header_blue_line {
  width: 165px;
}
.block_template_5 .templ_right {
  width: 488px;
}
.contacts_block a {
  text-decoration: none;
}

.comand_simple_item .com_car_title h3 {
  font-weight: 700;
  font-size: 40px;
  font-family: rfdewi700;
  line-height: 40px;
  color: #008a91;
  text-align: center;
  margin-bottom: 8px;
}
.com_car_block {
  width: 380px !important;
  height: 326px !important;
  background: rgba(0, 138, 145, 0.33);
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.com_car_block h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 7px;
  font-family: rfdewi300;
  color: #000000;
}
.com_car_block p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-family: rfdewi700;
  color: #000000;
}

.comand_boss_item_wrapper {
  display: flex;
}
.comand_boss_item {
  width: 590px !important;
}
.comand_boss_item_wrapper {
  background: #008a91;
}

.comand_carousel .slick-current {
  position: relative;
  z-index: 141;
  margin-right: -75px;
  margin-left: -75px;
}
.comand_carousel .slick-current .comand_boss_item_wrapper,
.comand_carousel .slick-current .com_car_block {
  height: 400px !important;
}
.comand_carousel {
  display: flex;
  position: relative;
}
.slick-track {
  display: flex !important;
  align-items: center !important;
}
.command_block .car_left_arrow,
.command_block .car_right_arrow {
  top: 48%;
}
